.menu {
    width: 100%;
    height: 80px;
    background-color: #0081B9;
    position: relative;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.button {
    font-size: 20px;
    font-family: 'CenturyGothic Bold', sans-serif;
    color: #fff;
    padding: 0;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0;
}

.button:hover {
    background-color: #EE771C;
    color: #fff !important;
}

.button_container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.dropdown {
    font-size: 20px;
}