.searchBar {
    height: 100%;
    padding: 0 30px;
    color:#6885A1;
font-family: CenturyGothic;
box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.40);

font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
height: 80px;
}

.searchBar input{
font-family: CenturyGothic;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.prefix {
    padding-right: 10px;
    font-size: 24px;
}

.suffix {
    font-size: 24px;
}

.suffix_button {
    color: #6885A1 !important;
}