.back {
    background-color: #C1E5FA;
    padding: 64px 0;
}

.header {
    color: #244360;
    text-align: center;
    font-family: Bebas Neue Regular, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.container {
    display: inline;
}