.label {
    clip-path: polygon(0 0, 100% 7%, 100% 87%, 20% 100%);
    background-color: #E85222;
    height: 100%;
    padding: 3px 26px 8px 32px;
    position: absolute
}

.label_wrapper {
    width: 100px;
    height: auto;
}

.text {
    color: #fff;
}