@import url('./fonts.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0;
}

.ant-float-btn-body {
  background-color: #EE771C !important;
}

.ant-float-btn-icon {
  color: #fff !important;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.ant-drawer-header-title {
  flex-direction: row-reverse !important;
}

.ant-drawer-title {
  text-align: center;
  font-family: CenturyGothic;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal
}

.ant-drawer-header {
  padding: 19 auto;
}

.ant-drawer-close {
  margin: 0 !important;
}

.ant-drawer-body {
  background-color: #134B80 !important;
  padding: 0 !important;
}